#download-content{
    display:block;
    width:180px;
    margin:30px auto;
    border:3px outset darkblue;
    border-radius:20px;
    padding:10px;
    text-decoration:none;
    background:rgba(200,200,200,0.2);
}

#download-content:hover{
    font-weight:bold;
}

#download-content:active{
    border-style:inset;
}

#download-content > div{
    text-align:center;
    color:darkblue;
}

#download-name{
    font-size:25px;
}

#download-version{
    font-size:15px;
}

#package-download{
    display:flex;
    justify-content:center;
}

#package-download > a{
    display:inline-block;
    width:150px;
    margin:10px;
    border:2px solid darkblue;
    border-radius:20px;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:darkblue;
    background:rgba(200,200,200,0.2);
}

#package-download > a:hover{
    font-weight:bold;
}

#help{
    text-align:center;
}

#help > a{
    text-decoration:none;
    color:darkblue;
    font-size:20px;
}

#help > a:hover{
    font-weight:bold;
}